<div class="jumbotron">
  <h1>
    {{ title }}
  </h1>
  <p>Usine à talents</p>
</div>
<div class="row">
  <div class="col-3">
    <ul class="list-group">
      <li class="list-group-item"><a href="" [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
      <li class="list-group-item"><a routerLinkActive="active" routerLink="/login">Authentification</a></li>
      <li class="list-group-item"><a href="" [routerLink]="['/user']" routerLinkActive="active">User</a></li>
      <li class="list-group-item"><a href="" [routerLink]="['/materiel']" routerLinkActive="active">Materiel</a></li>
      <li class="list-group-item"><a href="" [routerLink]="['/formation']" routerLinkActive="active">Formation</a></li>
      <li class="list-group-item"><a href="" [routerLink]="['/session']" routerLinkActive="active">Session</a></li>
      <li class="list-group-item"><a href="" [routerLink]="['/matiere']" routerLinkActive="active">Matière</a></li>
      <li class="list-group-item"><a href="" [routerLink]="['/expertise']" routerLinkActive="active">Expertise</a></li>
    </ul>
  </div>
  <div class="col-9">
    <router-outlet></router-outlet>
  </div>
</div>

