<div class="jumbotron">
  <h1>
    {{ title }}
  </h1>
  <p>Usine à talents</p>
</div>
<div>
  <div id="contenu" class="row">
    <div class="col-3">
      <ul class="list-group">
        <li class="list-group-item"><a href="" [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
        <li class="list-group-item"><a routerLinkActive="active" routerLink="/login">Authentification</a></li>
        <li class="list-group-item"><a href="" [routerLink]="['/user']" routerLinkActive="active">User</a></li>
        <li class="list-group-item"><a href="" [routerLink]="['/materiel']" routerLinkActive="active">Materiel</a></li>
        <li class="list-group-item"><a href="" [routerLink]="['/formation']" routerLinkActive="active">Formation</a></li>
        <li class="list-group-item"><a href="" [routerLink]="['/matiere']" routerLinkActive="active">Matière</a></li>
      </ul>
    </div>
    <div class="col-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<footer style="background-color: darkgrey">Team Gauche © 2018</footer>

