<form (ngSubmit)="save()" #formulaire="ngForm">
  <div class="form-group">
    <label for="id">Id :</label>
    <input id="id" name="id" [(ngModel)]="matiere.id" class="form-control" readonly/><br/>
    <div class="form-group">
      <label for="titre">Titre :</label>
      <input id="titre" name="titre" class="form-control" minlength="2" required [(ngModel)]="matiere.titre"
             #titre="ngModel"/><br/>
      <div *ngIf="titre.invalid && (titre.dirty || titre.touched)" class="alert alert-danger">
        <div *ngIf="name.errors.required">
          Titre obligatoire.
        </div>
        <div *ngIf="name.errors.minlength">
          Le titre doit faire au moins 2 caractères.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="objectif">Objectif :</label>
      <input id="objectif" name="objectif" class="form-control" minlength="3" required [(ngModel)]="matiere.objectif"
             #objectif="ngModel"/><br/>
      <div *ngIf="objectif.invalid && (objectif.dirty || objectif.touched)"
           class="alert alert-danger">
        <div *ngIf="name.errors.required">
          Objectif obligatoire.
        </div>
        <div *ngIf="name.errors.minlength">
          L'objectif doit faire au moins 3 caractères.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="niveau">Niveau :</label>
      <select id="niveau" name="niveau" [(ngModel)]="matiere.niveau">
        <option value="">--- Choisissez un niveau ---</option>
        <option *ngFor="let niveau of niveaux" [value]="niveau" [label]="niveaux[niveau]"></option>
      </select>
    </div>
  </div>
  <div>
    <button type="submit" class="btn btn-success" [disabled]="formulaire.invalid">Enregistrer</button>
  </div>
</form>
