<form (ngSubmit)="save()" #formulaire="ngForm">
  <div class="form-group">
    <label for="id">Id</label>
    <input id="id" name="id" [(ngModel)]="formation.id" class="form-control" readonly/><br/>
    <div class="form-group">
      <label for="nom">Nom</label>
      <input id="nom" name="nom" [(ngModel)]="formation.nom" class="form-control" required/><br/>
    </div>
    <div class="form-group">
      <label for="dateDebut">Date de début</label>
      <input id="dateDebut" name="dateDebut" type ="date" [(ngModel)]="formation.dateDebut" class="form-control" required/><br/>
    </div>
    </div>
    <div class="form-group">
      <label for="dateFin">Date de Fin</label>
      <input id="dateFin" name="dateFin" type ="date" [(ngModel)]="formation.dateFin" class="form-control" required/><br/>
      </div>
    <div class="form-group">
      <label for="gestionnaire">Gestionnaire de la formation</label>
      <select id="gestionnaire" name="gestionnaire" [(ngModel)]="formation.gestionnaire" class="form-control" >
        <option *ngFor="let g of gestionnaires"></option>
      </select><br/>
    </div>
    <div class="form-group">
      <label for="videoProjecteur">Videoprojecteur attribué</label>
      <select id="videoProjecteur" name="videoProjecteur" [(ngModel)]="formation.videoProjecteur" class="form-control" >
      <option *ngFor="let v of videoprojecteur"></option>
      </select>
    </div>
    <div class="form-group">
      <label for="salle">Salle attribué</label>
      <select id="salle" name="salle" [(ngModel)]="formation.salle" class="form-control" >
        <option *ngFor="let s of salles"></option>
      </select>
    </div>
  <div>
  <button type="submit" class="btn btn-success" [disabled]="formulaire.invalid">Enregistrer</button>
  </div>
</form>

