<h1>Liste des sessions</h1>
<table class="table">
  <tr>
    <th scope="col">Date de début</th>
    <th scope="col">Date de fin</th>
    <th scope="col">Formation</th>
    <th scope="col">Formateur</th>
    <th scope="col">Matiere</th>
  </tr>
  <tr *ngFor="let session of sessions">
    <td scope="rol">{{session.dateDebut}}</td>
    <td scope="rol">{{session.dateFin}}</td>
    <td scope="rol">{{session.key.formation}}</td>
    <td scope="rol">{{session.key.formateur}}</td>
    <td scope="rol">{{session.key.matiere}}</td>
    <td><a href="" [routerLink]="['/session','edit',session]" routerLinkActive="active"
           class="btn btn-info">Edition</a>
    </td>
    <td>
      <button class="btn btn-danger" (click)="delete(session)">Supprimer</button>
    </td>
  </tr>
</table>
<a href="" [routerLink]="['/session','create']" class="btn btn-info">Ajouter</a>
